:root {
    --navbar-height: 60px; /* Adjust as needed */
  }
  
  html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent double scroll */
  }
  
  app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    z-index: 1000; /* Ensure navbar is above other content */
  }
  
  .content-container {
    margin-top: var(--navbar-height);
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto; /* Enables scrolling */
    padding: 20px;
  }